PORT=3000
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=acompanhamento_integral
AUTH_EMAIL=admin@colegiofarol.com.br
AUTH_PASSWORD=@F4r07_1nt3gr47
AUTH_NAME=Colégio Farol
